name: Deploy Vue App to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy Vue.js App
        uses: SerhiiKa/VuePagesAction@1.0.4
        with:
          username: Pkeinde6
          reponame: todo-list
          token: ${{ secrets.GITHUB_TOKEN }}
          gitemail: pkeinde6@gmail.com
          gitname: Pape Cheikh Keinde
          gitmsg: deploy
